# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment folders
venv/
env/
.venv/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE configs
.vscode/
.idea/

# Ignore environment variables
.env
.venv311/
.venv311/
